* {
    text-decoration: none;
}

body {
    background-color: #0f2027;
    border: none;

}

.nav {
    border: none;
    gap: 23px;
    justify-content: end;
    display: flex;
    margin-left: 45%;
    padding-top: 8px;
    font-weight: bold;
    font-size: large;
    color: whitesmoke;
    margin-top: 20px;
    justify-content: space-evenly;
}

h2 {
    border: none;
    margin-left: 20px;
    color: whitesmoke;
}

.nav_bar {
    border: none;
    display: flex;
    gap: 30px;
    background-color: rgb(5, 82, 100);
    position: sticky;
    top: 0;

}

a {
    color: whitesmoke;
    font-weight: bold;
}

#Home {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
}

p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    border: none;
    margin: 20px;
}


button {
    background: #1e064e;
    color: #fffafa;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    /* Rounded corner */
    cursor: pointer;
    font-weight: bold;
    font-size: large;

}

.About {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    border: none;
    margin: 20px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

}

.about_1 {
    background-color: #060110;
    padding: 40px;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke;
    padding-top: 40px;

}

#title {
    border: none;
    display: flex;
    
}
img{
    background-color: #060110;
}


.title_1 {
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
    color: rgb(18, 0, 0) !important;
}


.About_12 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 0, 0);
    border: none;
    margin: 20px;
    text-align:justify ;
    padding-left: 20px;
    padding-right: 5%;

}


#About {
    background-color: white;
    padding: 30px;
    margin: 1;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
    .nav {
        border: solid;
        gap: 10px;
        justify-content: space-around;
        display: none;

        padding: 20px;
        font-weight: bold;
        font-size: large;
        color: whitesmoke;
        margin: 20px;
    }

    .nav_bar {
        border: none;
        display: flex;
        gap: 30px;
        background-color: rgb(5, 82, 100);
        position: sticky;
        top: 0;

    }


    

}

.technologies {
    border: none;
    display: flex;
    gap: 10%;
    padding: 30px;
    margin-left: 15%;
    margin-top: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}

#technologies {
    border: none;
    display: flex;
    gap: 10%;
    padding: 30px;
    margin-left: 15%;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.skills {
    color: black;
    font-weight: bold;
    text-align: center;

}

#method {
    border: solid 2px grey;
    margin-top: 7%;

}
#profile{
    border: solid ;
    
    margin-left: 2%;


}

#caption{
    color: #1e064e;
    text-align: center;
    border: none;
    margin-top: 50px;
}