body {
    background-color: #0f2027;
}

.nav {
    border: none;
    gap: 30px;
    justify-content: end;
    display: flex;
    margin-left: 50%;
    padding-top: 8px;
    font-weight: bold;
    font-size: large;
    color: whitesmoke;
    margin-top: 20px;
}

h2 {
    border: none;
    margin-left: 20px;
    color: whitesmoke;
}

.nav_bar {
    border: none;
    display: flex;
    gap: 40px;
    background-color: rgb(5, 82, 100);
    margin: 20px;
}

a {
    color: whitesmoke;
    font-weight: bold;
}

#Home {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
}

p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    border: none;
    margin: 20px;
}


button {
    background: #1e064e;
    color: #fffafa;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    /* Rounded corner */
    cursor: pointer;
    font-weight: bold;
    font-size: large;

}

.About {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    border: none;
    margin: 20px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

}

.about_1 {
    background-color: #060110;
    padding: 40px;
}

.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke;
    padding-top: 40px;
}


.title_1 {
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
    color: rgb(18, 0, 0) !important;
}


.About_12{
     font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 0, 0);
    border: none;
    margin: 20px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

}
#About{
    background-color: white;
    padding: 30px;
    margin: 1;
}

@media screen and (min-width: 1px) and (max-width: 768px){
.nav {
    border: none;
    gap: 3px;
    display: block;

    /* margin-left: 50%;
    padding-top: 8px;
    font-weight: bold; */
    font-size: large;
    color: whitesmoke;
    /* justify-content: space-around; */
    margin-top: 20px;
}    


.nav_bar {
    border: none;
    display: flex;
    background-color: rgb(5, 82, 100);

}}


.html{
    border: solid;
    padding: 20px;
}